body {

    font-family:Segoe UI;
    margin-top:5px;
}
.headerFont {
    font-size:medium;
    
}

table {   
    min-width:1024px;
    max-width:2048px;
    margin-left:auto;
    margin-right:auto;  
}

.leftmargin {
    width:160px;
    display: inline;
    float:left;
    margin-left:1em;
}

.leftmargintable {
    width:160px;
}

.rightItem {
    float:right;
}

.watermark {
    color:#AAAAAA;
}

#inputBox {
    width:500px;
}

#deepLink {
    margin-left:.5em;
    margin-right:1em;
    width:8em;
}

.indent {
    float:left;
    width:2em;
    display:inline-block;
}

#decodedToken {
    margin-top: 10px;
}

.jsonField {
    color: #E40101;
}

.jsonValue {
    color:#2486B5;
}



.headerFont {
    font-size:large;
     vertical-align:central;
     
}

table {
    
    min-width:1024px;
    max-width:2048px;
    margin-left:auto;
    margin-right:auto;  
   
}

.leftmargin {
        width:160px;
        display: inline;
        float:left;
        margin-left:1em;
}
.leftmargintable {
        width:160px;
}

.rightItem {
    float:right;
}

#ExampleLink {
    margin-left:.5em;    
    margin-bottom:-10px;
    font-size:smaller;
    vertical-align:text-bottom;
    text-align:right;
    color:#AAAAAA;
    cursor:pointer;
    text-decoration:underline;
}

.watermark {
    color:#AAAAAA;
}

#inputBox {
    width:500px;
    
}

#deepLink {
    margin-left:.5em;
    margin-right:1em;
    width:8em;
}

.headerrow {
    background-color: #fafafa;
    height:50px;
}

.indent {
    float:left;
    width:2em;
    display:inline-block;
}

#decodedToken {
    margin-top: 10px;
}

.tooltip {
    display: inline;
    position: relative;
}

.tooltip:hover:after{
    background: #333;
    background: #2486B5;
    border-radius: 5px;
    bottom: 26px;
    color: #fff;
    content: attr(tip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 450px;
    opacity:1;
}

.signature {
    color: gray;
}

/*Pretty Print*/
pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {background-color: #111;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}